<body class="overflow-hidden">
  <div class="container">
    <div class="row text-white">
      <div class="col-md-4 text-center">
<h2>location</h2>
<p>2215 John Daniel Drive</p>
<p>Clark, MO 65243</p>
      </div>
      
              <div class="col-md-4 text-center ">
                <h2>around the web</h2>
                <div class="d-flex text-center d-flex justify-content-center mt-5">
                  <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
                  <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                  <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
                  <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                </div>
                      </div>
                      <div class="col-md-4 text-center">
                        <h2>About <br>freelancer</h2>
                       <p>Freelance is a free to use, licensed <br>Bootstrap theme created by Route</p>
                              </div>
    </div>
  </div>
  <div class="w-100 text-center text-white bg-dark p-2 mb-0 d-flex justify-content-center align-items-center"><p class="mb-0">Copyright © Your Website 2021</p></div>
</body>
