<body class="d-flex justify-content-center align-items-center">
<div class="container p-5 mt-5 mb-5 ">
  <div class="text-center position-relative w-75 m-auto">
  <h1 class="text-center mb-3 position-relative fs-1 mt-4">contact section</h1>
  <i class="fa-solid fa-star  fs-4 text-center " style="color: rgb(44, 62, 80);"></i>
</div>
  <form class="mt-5  w-50 m-auto p-2 overflow-hidden">
    <input name="name" type="text" class="form-control"placeholder="name">
    <input name="name" type="text"class="form-control"placeholder="age">
    <input name="name"type="text"class="form-control"placeholder="email">
    <input name="name"type="text"class="form-control"placeholder="password">
    <button type="submit" class="mt-5 rounded-3 text-white btn mb-5" >submit</button>

  </form>
</div>

</body>
